<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sp_test.dao.UserDao">

<!--    모든 유저를 제거한다-->
<!--    <delete id="deleteAllUsers">-->
<!--        DELETE-->
<!--        FROM user-->
<!--        WHERE id > '0'-->
<!--    </delete>-->
</mapper>
